{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('./css/style.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <form id="myForm" action="" method="post">
        <label for="source">Enter source:</label>
        <br>
        <input type="text" id="source" name="source">
        <br>
        <button type="submit" id="submitButton">Парсить</button>
    </form>
</div>

<div class="container">
    <div class="item">SECTOR</div>
    <div class="item">ROW</div>
    <div class="item">SEAT</div>
    <div class="item">PRICE</div>
</div>

<div class="error"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('./js/script.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

