.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
.error {display: none; color: darkred}
.container {display: none; grid-template-columns: auto auto auto auto; border: 1px solid black;}
.item {padding: 5px;text-align: center;border: 1px solid black;}